__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.ipynb_checkpoints/
.vscode/

# Datasets
datasets/

# Large Model weights
models/deepfake_detector.pth

# Session Outputs
outputs/aligned_face.jpg
outputs/session.json
outputs/final_result.json
